
body{
padding: 0;
margin: 0;
background-image: url(stars.gif);
align-items: center;
justify-content: center;
min-height: 100vh;
color: white;


}
h1 {
color: hsl(0, 0%, 28%);
font-size: 70px;
font-weight: bold;
font-family: monospace;
letter-spacing: 7px;
cursor: pointer;
text-transform: uppercase;
}

h1 {
  text-align: center;
padding: 64px;
background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: shine 3s infinite linear;
}

@keyframes shine {
0% {
  background-position: 0;
}
60% {
  background-position: 600px;
}
100% {
  background-position: 600px;
}
}
h5{
  height: 100px;
  width: 100px;
  position:sticky;
}
.slide-right{
  animation: 3s slide-right;
 font-size: 30px;
 padding: 80px;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%
    FONT COLOR= WHITE;
    
    
  }
}

.slide-left  {
  animation: slide-left 3s;
  font-size: 30px;
  padding: 80px;
  
 
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 300%;
  }
}

.pics{
  text-align: center;
}
.text{
  color: white;
  text-align: center;
  justify-content: center;
}



.gif{
 margin-left: 1100px;
 margin-bottom: 1000px;
  left: 1250px;
  bottom: 40px;
  height: 350px;
  width: 450px;
}



