
body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	
}

body {
	font-family: 'Franklin Gothic Medium';
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(haha.gif);
}    
.buurnok{
	background-color: #f5f5f5;

}
h2{
	color: black;
	font-size: 100px;
}

h9{
	color: aliceblue;
	font-size: 100px;
}

p{
	color: black;
}


.center {
	text-align: center;
}

.nav-wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 90%;
	height: 80px;
	border-radius: 0 0 15px 15px;
	padding: 0 25px;
	z-index: 2;
	background: solid black;
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.932);
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 80px;
	border-radius: 50%;
	margin-left: 10px;
}

.nav-tabs {
	display: flex;
	font-weight: 600;
	font-size: 18px;
	list-style: none;
}



.nav-tab:last-child {
	padding: 10px 0 0 25px;
}

p{
color: whitesmoke;


}




.hidden {
	display: none;
}
.responsive {
	
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

  }
  .responsive2 {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
	

  }
button{
    width: 150 px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(246, 238, 0);
    background: transparent;
    color: snow;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
  
}

   
  
button:hover{
    border: none;
}    

  


@media screen and (max-width: 800px) {
	.nav-container {
		position: fixed;
		display: none;
		overflow-y: auto;
		z-index: -1;
		top: 0;
		right: 0;
		width: 280px;
		height: 100%;
		background: solid black;
		box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	}

	.nav-tabs {
		flex-direction: column;
		align-items: flex-end;
		margin-top: 80px;
		width: 100%;
	}

	.nav-tab:not(:last-child) {
		padding: 20px 25px;
		margin: 0;
		border-right: unset;
		border-bottom: 1px solid #f5f5f5;
	}

	.nav-tab:last-child {
		padding: 15px 25px;
	}

	.menu-btn {
		position: relative;
		display: block;
		margin: 0;
		width: 20px;
		height: 15px;
		cursor: pointer;
		z-index: 2;
		padding: 10px;
		border-radius: 10px;
	}

	.menu-btn .menu {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background:snow;
	}

	.menu-btn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.3s ease;
	}
	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
	}
}


